img{
    width: 500px;

}

.sec{
    background-color:white;
    margin-top: 10px;
    padding-top: 100px;

}

.sec1{
    margin-top: 50px;
    
}

.sec1-p1{
    font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
}

.sec1-p2{
font-family: Muli;
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 32px;
}

button{
    background: #458FF6;
/* border-radius: 55px; */
border-radius: 300px;
}